:root {
    --black:#333;
    --red: rgb(204, 41, 41);
    --red-accent: rgb(175, 3, 3);
    --white: #ddd;
    --transparent-overlay: rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#game-stats {
    width: 100%;
    height: 10%;
    background-color: var(--red);
    text-align: right;
    /* padding: 1.5rem; */
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#game-stats div {
    margin-right: 1.5rem;
}

#game-container {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

#game-track {
    width: 100%;
    height: 100%;
    background-color:bisque;
    position: relative;
    overflow: hidden;
}

#slider {
    width: 100%;
    height: 10px;
    background-color: blueviolet;
    position: absolute;
    top: 100px;     /* change with js */
}

#target {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    top: 200px;
    left: 500px;
}

#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-overlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    z-index: 10;
}

#start-screen h2 {
    margin: 25px;
}

#start-screen p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 24px;
    font-size: 18px;
    color: var(--white);
    font-weight: bold;
    background: var(--red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--red-accent);
}

.hidden {
    display: none !important;
}

#end-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-overlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 15;
}

#end-screen h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: var(--white);
}

#final-score-display {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0 20px 0;
    color: var(--white);
}